<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action='/product/<%=found.id%>?_method=PUT' method="POST">
        <section>
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="name" name="name" value="<%=found.name%>">
        </section>
        <section>
            <label for="price">Price</label>
            <input type="number" id="price" placeholder="price" name="price" value="<%=found.price%>" step="0.01">
        </section>
        <section>
            <label for=" category">Category</label>
            <select name="category" id="category">
                <% for(let categ of categories){%>
                    <option value="<%=categ%>" <%=found.category===categ ? 'selected' : '' %>><%=categ%>
                    </option>
                    <% }%>
            </select>
        </section>
        <button>Submit</button>
    </form>
    <a href="/product/<%=found.id%>">Cancel</a>
</body>

</html>